#interest {
    margin-top: 12em;
}

#interest h1 {
    font-size: 3em;
    margin-left: 1.2em;
    margin-bottom: 2em;
} 

#interest .box-parent {
    display: flex;
    justify-content: space-evenly;
}

#interest .box-parent .box {
    /* padding: 10px 0px 50px 0px; */
    width: 460px;
    box-shadow: rgb(0, 0, 0, 0.3) 0px 0px 50px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

#interest .box-parent .box h2 {
    font-size: 2em;
    margin-bottom: 1em;
}

#interest .box-parent .box p {
    font-size: 1.5em;
    line-height: 30px;
    letter-spacing: 2px;
    width: 400px;
}

#interest .box-parent .box div {
    width: 100%;
    height: 5px;
    background-color: #f5c425;
    margin-top: 55px;
}