.App {
    display: flex;

}

.App .profile {
    width: 23%;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    background-color: rgb(153, 153, 153,0.2);
}

.App .main {
    width: 77%;
}
